/* CSS reutilizável utilizado no Index.html */
body{
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagem{
    background-color: black;
    width: 90%;
    height: fit-content;
    display: flex;
    position: relative;
    margin-left: 5%;
    border-radius: 100px;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 1%;
    padding-bottom: 3%;
}

.name{
    background-color: black;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: fit-content;
    left: 0%;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 200px;
    font-family: 'PT Mono', monospace;
}

#how {
    background-color: gold;
    color: black;
    border: 2px solid black; 
    border-radius: 50px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    background-color: gold;
    color: black;
    border: 2px solid black; 
    border-radius: 50px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#links{
    background-color: gold;
    color: black;
    border: 2px solid black; 
    border-radius: 50px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#how:hover {
  opacity: 0.6;
  transition: 0.1s;
}

#start:hover {
    opacity: 0.6;
    transition: 0.1s;
}

#links:hover {
    opacity: 0.6;
    transition: 0.1s;
}

/* Aqui se inicia o CSS específico para as páginas, mas reutilizando o CSS da página "Index" */
.who {
    background-color: black;
    color: gold;
    font-family: 'PT Mono', monospace;
    font-size: small;
    margin: 3% 15%;
    padding: 6%;
}

.redes{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    border-radius: 100px;
    margin: 0% 20%;
}

#linkedin , #github , #jogar , #inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Mono', monospace;
    background-color: gold;
    color: black;
    border: 2px solid black; 
    border-radius: 50px;
    width: 120px;
    height: 40px;
}