header{
    width: 100%;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    display: flex;
}

body{
    background-color: black;
    width: auto;
}

footer{
    background-color: black;
    color: black;
    border: 2px solid black; 
    font-family: 'PT Mono', monospace;
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    margin-top: 20px;
}

.fimdejogo {
    display: flex;
    justify-content: center;
    margin: auto;
    height: fit-content;
    width: fit-content;
}

#inicio , #playagain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Mono', monospace;
    background-color: gold;
    color: black;
    border: 2px solid black; 
    border-radius: 50px;
    width: 140px;
    height: 40px;
}

/* Abaixo se encontra a configuração de media queries para os levels */


@media (max-width: 3000px){
    .fimdejogo {
        width: auto;
        height: auto;
    }

    footer {
        margin-top: 2%;
        background-color: transparent;
    }
}

@media (max-width: 1000px) {
    header{
        width: 400px;
        display: flex;
        justify-content: center;
    }
    footer {
        width: 95%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: black;
        margin-top: 50px;
        background-color: transparent;
    }
    .fimdejogo{
        height: 250px;
        width: 400px;
        margin-top: 2%;

    } 
}
