/* Aplicação de media queries para o Index */
@media (max-width: 1200px) {
    .imagem {
        background-color: black;
        width: fit-content;
        height: fit-content;
        padding: 3%;
        margin: 3%;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 999px) {
    .imagem {
        background-color: black;
        width: fit-content;
        height: fit-content;
        padding: 5%;
        margin: 3%;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #baron {
        display: none;
    }
}

@media (max-width: 767px) {
    main {
        display: none;
    }
    footer{
        background-color: transparent
    }
    .buttons {
        background-image: ;
        background-color: black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 25%;
        width: 50%;
        height: 300px;
    }
}