header{
    background-color: black;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin: auto;
}
body{
    background-color: black;
}
main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: auto;
    background-color: black;
    border: 2px solid;
    padding: 30px 30px;
}
.name{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter{
    color: gold;
    border: 2px solid;
    width: 70%;
    margin: auto;
    padding: 30px 30px;
    background-color: black;
    font-family: 'PT Mono', monospace;
}

#avancar , #voltar , #btnGameOver , #btnContinue {
    background-color: gold;
    color: black;
    border: 2px solid black; 
    border-radius: 50px;
    width: 120px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    font-family: 'PT Mono', monospace
}

.backgroundUm {
    background-image: url(../img/bg-um.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    border: 2px solid gold;
    height: auto;
}

.bainha{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    background-color: black;
    height: fit-content;
}

#next{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    width: 100px;
    height: 40px;
    border-radius: 200px;
    margin-left: 85%;
}

#next:hover{
    opacity: 0.6;
    transition: 0.1s;
}

.hidden{
    visibility: hidden;
}

/* Abaixo se encontra a configuração de media queries para os levels */

@media (max-width: 1000px) {
    #next:hover{
        opacity: 0.6;
        transition: 0.1s;
    }
    #next {
        display: flex;
        margin-left: auto;
    }
    .backgroundUm {
        background-image: none;
        border: none;
    }
}